body{
  
    width:auto;
    margin: auto;
    background-color: #fafafa;
    color: #000000;
    font-family: Tahoma;

}
html,body{
    overflow-x:hidden ;
    max-width: 100%;
}
h1{
    text-align: center;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 1.5em;

}

input{
    border-style: groove;
    margin-bottom:50px ;
    margin-top:50px ;
    display: block;
    background:linear-gradient(190deg,
    rgb(232, 232, 238),rgb(255, 255, 255));  
    font-style: inherit;
    border-radius: 9px;
    text-align: center;
    color:rgb(0, 0, 0);
    height: 50px;
    padding-right: 90px;
    padding-top: 80px;
    padding-left: 90px;
    padding-bottom: 80px;
    margin-left: auto;
    margin-right: auto;
    width: 50%;
    text-align: center;   
   
}

input::placeholder {
  color: gray;           
  font-weight: bold;     
  text-align: center;  
  overflow-wrap: wrap;   
}

@media (max-width: 477px) {
   input::placeholder {
  color: gray;         
 
  font-style: italic;  
  opacity: 1;  
   text-align: center;       
}

.footer .dec2 {
    font-size: 1em;
    color: rgb(63, 36, 219);
    margin: 15px auto;
    text-align: center;

}
input{
    border-style: groove;
   width: 30%;
   height: 30%;
     border:1px solid rgb(33, 122, 173);
}
}


.button1{
    display: block;
    width: 300px;
    margin: 1em auto;
    height: 3em;
    font-size: 1.1rem;
    margin-bottom: 45px;
    border-radius: 30px;
    background:linear-gradient(190deg,
    rgb(9, 9, 199),rgb(47, 0, 255)); 
    -webkit-background-clip: text;
    color:transparent;
     border:4px solid rgb(33, 122, 173);
  }



  p{

    display: block;
    text-align: center; 
    margin-left: auto;
    margin-right: auto;
    width: 500px;
  }
  
#img4{
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-top: -30px;
    width: 40%;}
.sticky{
  position: sticky;
  top:0;
  background:linear-gradient(90deg,rgb(53, 53, 129),rgb(197, 23, 104));
  margin:auto;
  padding:35px;
  font-size:1.8em ;
  font-family:'Gill Sans', 'Gill Sans MT', Calibri,  sans-serif;
  border-radius:x;
  width:auto;
  display:inline-flexbox;
  margin-bottom: 40px;
  height: 40px;
  align-items: right;
  color: whitesmoke;
}
.sticky img{
  display:flex;
  height: 50px;
  align-items:right;
  margin-left: auto;
  margin-top: -45px;
  border-radius: 30px;
  margin-right: 5em;
} 

.img-container{
  display: flex;

}



#img1{
  height: 30px;
  margin-right: -30em;
  margin-top: -30px;
  margin-bottom: 50px;
} 
/* Footer */
.footer {
    background-color: rgb(231, 215, 195);
    text-align: center;
    padding: 20px;
}

.footer .dec {
    font-size: 2em;
    font-weight: bold;
    background: linear-gradient(90deg, rgb(255, 251, 0), rgb(1, 37, 241));
    -webkit-background-clip: text;
    color: transparent;
    margin-bottom: 10px;
}

.footer .dec2 {
    font-size: 1em;
    color: rgb(63, 36, 219);
    margin: 15px auto;
    text-align: center;
    align-items: center;
}




.dec3 {
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.dec3 h3{

margin-top: 35px;
}


textarea{
    width: 80%;
    max-width: 350px;
    border-radius: 20px;
    padding: 10px 10px 5px 5px;
    margin-bottom: 23px;
    font-size: 1rem;
    border: none;
    text-align: center;
    color: white;
    background-color:white;
      border:1px solid rgb(33, 122, 173);
}


button{
    background-color: #2f00ff;
    border: 1px solid #ccc;
    border-radius: 10px;
    color: white;
    padding: 8px 20px;
    font-size: 1rem;
    cursor: pointer;
    border:1px solid rgb(33, 122, 173);
}

/* Links */
a:link, a:visited {
    text-decoration: none;
    color: inherit;
}
